---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Tim Willebrands.
	<div class="social-links">
		<a href="#" target="_blank" rel="me noopener">LinkedIn</a>
		<a href="#" target="_blank" rel="me noopener">GitHub</a>
		<a href="#" target="_blank" rel="me noopener">Twitter</a>
		<a href="mailto:hello@example.com">Email</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: #fff;
		color: rgb(var(--black));
		text-align: center;
		border-top: var(--border-thick) solid rgb(var(--black));
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--black));
		border-bottom: var(--border-thick) solid transparent;
	}
	.social-links a:hover {
		border-bottom-color: rgb(var(--black));
	}
</style>
